<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mysilentdisco.club" version="1.2.100" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ads Test Cordova</name>
    <description>
        TEST
    </description>
    <author email="mysilentdiscoclub@gmail.com" href="https://www.mysilentdisco.club">
        mysilentdisco.club
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <preference name="SwiftVersion" value="5.3" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
